<script src="~/dist/plugins/jquery/jquery.min.js"></script>
@{
    ViewData["Title"] = "Home Page";
}
<vc:Summary></vc:Summary>
<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>AGILIUM MANAGER</p>
</div>
<script src="~/dist/plugins/jquery/jquery.min.js"></script>