@model agilium.webapp.manager.mvc.ViewModels.CategFinancViewModel.CategeoriaFinanceiraViewModel

@{
    ViewData["Title"] = "Apagar";
}

<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">

        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" type="button" title="Salvar dados" id="btnSalvar"><span class="fa fa-save sns-tool-action"></span></a>

        <a href="#" type="button" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a> /
            <a href="@Url.Action("Index","CategoriaFinanceira")"><i class="fa fa-dashboard"></i> Categoria Financeira</a> /
            <a href="#"> Apagar</a>
        </div>
    </article>
</section>
<br />
<div class="callout callout-danger">
    <h3>Você deseja realmente apagar esta Categoria Financeira?</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Delete" id="frmDelete" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NMCATEG" />
            <input type="hidden" asp-for="STCATEG" />
            <div class="card" id="labelcardGerais">
                <div class="card-header">
                    <h3 class="card-title text-danger">Apagar Registro</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="NMCATEG" id="labelRazSoc"></label>
                                <input asp-for="NMCATEG" class="form-control" size="20" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="STCATEG" id="labelativo"></label>
                                    <select asp-for="STCATEG"
                                        asp-items="Html.GetEnumSelectList<agilium.webapp.manager.mvc.Enums.EAtivo>()"
                                            class="form-control" disabled></select>
                                </div>

                            </div>
                        </div>
                   
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="visibility:hidden" id="btnSendForm" />
            </div>
        </form>
    </div>
</div>
<script src="~/dist/plugins/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="~/local/Financeiro/CategFinanc.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}