@model agilium.webapp.manager.mvc.ViewModels.VendaViewModel.VendaDetalhesViewModel
@{
    ViewData["Title"] = "Detalhes da Venda";
}
<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>
<div class="info-box">
    <span class="info-box-icon bg-info"><i class="fas fa-shopping-cart"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Venda</span>
        <span class="info-box-number">@Model.SequencialVenda</span>
    </div>
</div>

<div class="card card-primary card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Itens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Formas de pagamento</a>
            </li>
            
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                @await Html.PartialAsync("_itemVenda.cshtml")
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                @await Html.PartialAsync("_moedaVenda.cshtml")
            </div>
            
        </div>
    </div>
</div>
<div class="modal-footer justify-content-end">

    <a class="nav-link btn btn-outline-danger" data-dismiss="modal" aria-label="Close" id="fechar" title="Cancelar operação">
        <i class="fas fa-window-close"></i>
    </a>

   @* <button type="submit" class="nav-link btn btn-outline-success" id="btnSalvarModal" title="Confirmar operação">
        <i class="fas fa-save"></i>
    </button>*@
</div>