<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8916db98-bbec-4e47-807c-ffcfdecf0c4a/resourceGroups/app_teste/providers/Microsoft.Web/sites/agilium-manager-web</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://agilium-manager-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>60a4d6d2-3c3a-4ca7-a338-cf2798b49832</ProjectGuid>
    <PublishUrl>https://agilium-manager-web.scm.azurewebsites.net/</PublishUrl>
    <UserName>$agilium-manager-web</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>