@page
@model ChangePasswordModel
@{
    Layout = null;

}
@{
    ViewData["Title"] = "Alterar Senha";
}

    <html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Agilium Painel</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="~/dist/plugins/fontawesome-free/css/all.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.js">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="~/css/site.css">

    </head>

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#">Agilium Painel</a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Mude sua senha</p>
                    <partial name="_StatusMessage" for="StatusMessage" />

                    <form id="accountChange" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.OldPassword" class="form-control" placeholder="Senha atual" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            <div class="input-group-text">
                                <span asp-validation-for="Input.OldPassword" class="fas fa-envelope text-danger"></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.NewPassword" class="form-control" placeholder="Nova senha" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            <div class="input-group-text">
                                <span asp-validation-for="Input.NewPassword" class="fas fa-envelope text-danger"></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme nova senha" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <div class="input-group-text">
                                <span asp-validation-for="Input.ConfirmPassword" class="fas fa-envelope text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
                
               
        </div>
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="~/dist/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <!-- AdminLTE App -->
        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- jQuery -->
        <script src="~/dist/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/dist/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/dist/js/adminlte.min.js"></script>
        <script src="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

        </body>
    </html>
      
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
