@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de mudança de senha";
}
@{
    Layout = null;

}

@*<h1>@ViewData["Title"]</h1>
    <p>
        Sua senha foi alterada. Por favor, <a asp-page="./Login" class="link-dark"> clique aqui para fazer login</a>.
    </p>*@
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agilium Painel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/dist/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.js">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body class="hold-transition lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="#">Agilium Painel</a>
        </div>
        <div class="text-center">
            <p>
                Sua senha foi alterada. Por favor, <a asp-page="./Login" class="link-dark"> clique aqui para fazer login</a>.
            </p>
        </div>
    </div>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery -->
    <script src="~/dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dist/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

</body>
</html>