@model agilum.mvc.web.ViewModels.Produtos.ProdutoFotoViewModel
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">

        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" type="button" title="Salvar dados" id="btnSalvar"><span class="fa fa-save sns-tool-action"></span></a>

        <a href="#" type="button" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a asp-action="Index" asp-controller="Produto"><i class="fa fa-dashboard"></i> Produto </a> /
            <a asp-action="ListaFoto" asp-controller="Produto" asp-route-idProduto="@Model.idProduto"><i class="fa fa-dashboard"></i> Foto </a> /
            <a href="#"> Apagar </a>
        </div>
    </article>
</section>
<br />
<div class="callout callout-danger">
    <h3>Você deseja realmente apagar esta Imagem do Produto?</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="frmDeleteFoto" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="idProduto" />
            <div class="card" id="labelcardGerais">
                <div class="card-header">
                    <h3 class="card-title text-danger">Apagar Registro</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-bookmark"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Produto</span>
                                <span class="info-box-number">@ViewBag.NomeProduto</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Data" id="labelData"></label>
                                <input asp-for="Data" class="form-control" readonly />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Descricao" id="labelDescricao"></label>
                                <input asp-for="Descricao" class="form-control" readonly />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="visibility:hidden" id="btnSendForm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/dist/js/jquery.mask.js"></script>
    <script src="/dist/plugins//bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/local/cadastros/principal/produtoFoto.js"></script>
}