@using agilum.mvc.web.ViewModels.Cliente
@model agilum.mvc.web.ViewModels.Cliente.ClientePrecoViewModel

@{
    ViewData["Title"] = "Preço do produto Diferenciado por cliente";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">

        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" type="button" title="Salvar dados" id="btnSalvar"><span class="fa fa-save sns-tool-action"></span></a>

        <a href="#" type="button" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a asp-action="Index" asp-controller="Produto"><i class="fa fa-dashboard"></i> Produto </a> /
            <a href="#"><i class="fa fa-dashboard"></i> Preço Diferenciado por cliente </a>
            <a href="#"> Apagar </a>
        </div>
    </article>
</section>
<br />
<div class="callout callout-danger">
    <h3>Você deseja realmente apagar o preço diferenciado do Produto para o cliente?</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="frmDelete" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IDPRODUTO" />
            <input type="hidden" asp-for="IDCLIENTE" />
            <input type="hidden" asp-for="DescricaoTipoDiferenca" />
            <input type="hidden" asp-for="DescricaoTipoValor" />
            <input type="hidden" asp-for="Valor" />
            <div class="card" id="labelcardGerais">
                <div class="card-header">
                    <h3 class="card-title text-danger">Apagar Registro</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-bookmark"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Produto</span>
                                <span class="info-box-number">@ViewBag.NomeProduto</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">

                                <label asp-for="IDCLIENTE" id="labelCliente"></label>
                                <select asp-for="IDCLIENTE"
                                        asp-items="@Model.Clientes.Select(x => new SelectListItem(){Text = x.Nome, Value = x.Id.ToString()})"
                                        class="form-control" disabled></select>
                                <span asp-validation-for="IDCLIENTE" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DescricaoTipoDiferenca" id="labelTipoDiferença"></label>
                                <select asp-for="DescricaoTipoDiferenca"
                                        asp-items="Html.GetEnumSelectList<ETpDiferencaPreco>()"
                                        class="form-control " disabled></select>
                                <span asp-validation-for="DescricaoTipoDiferenca" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DescricaoTipoValor" id="labelTipoValor"></label>
                                <select asp-for="DescricaoTipoValor"
                                        asp-items="Html.GetEnumSelectList<ETipoValorPreco>()"
                                        class="form-control" disabled></select>
                                <span asp-validation-for="DescricaoTipoValor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Valor" id="labelValor"></label>
                                <input asp-for="Valor" class="form-control money" disabled />
                                <span asp-validation-for="Valor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="visibility:hidden" id="btnSendForm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/cadastros/principal/produtoClientePreco.js"></script>

    <script>
        $(document).ready(function () {

        });
    </script>
}