
@model agilium.webapp.manager.mvc.ViewModels.UserResetPassword
@{
    ViewData["Title"] = "Redefinir Senha";
}
@{
    Layout = null;

}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agilium Painel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/dist/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.js">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body class="hold-transition login-page">
    <div class="login-box">
        @*<div class="lockscreen-logo">
            <a href="#">Agilium Manager</a>
        </div>*@
        <div class="login-logo">
            <img src="~/Images/logo_v3c_SIMBOLO.png" alt="AdminLTE Logo" class="logoLogin brand-image img-circle elevation-3" style="opacity: .8">
            <span class="fonteLogoAgilium">AGILIUM MANAGER</span>
        </div>
        <h5>Mude sua senha.</h5>
        <div class="card">
            <div class="card-body login-card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    @*<div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        @*<label asp-for="Input.Password"></label>*@
                        <input asp-for="Password" class="form-control" placeholder="Senha" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.ConfirmPassword"></label>*@
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Alterar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery -->
    <script src="~/dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dist/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
