/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.register-box1{
    width:400px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*z-index: 2;*/
    cursor: pointer;
    z-index: 9999999999999;
}

#imgLoader {
    display: block;
    vertical-align: middle;
    height: 100px;
}




.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    top: 30%;
    z-index: 9999999999999;
}

.fonteLogoAgilium{
    font-family:"night machine";
   }

.box3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}


/*Barra de menu do topo do layout*/
.barra-de-menu-principal {
    position: relative;
    height: 54px;
    min-height: 54px;
    background-color: #dddddd;
    margin: auto;
    padding: 15px;
    /*border-bottom: 1px solid;*/
    box-shadow: 2px 2px 6px #7f7f87;
    /*border-color:#50505d;*/
}

@media (max-width:767px) {
    .barra-de-menu-principal {
        position: relative;
        height: 54px;
        min-height: 54px;
        background-color: #dddddd;
        margin: auto;
        padding: 15px;
        /*border-bottom: 1px solid;*/
        box-shadow: 2px 2px 6px #7f7f87;
        margin-top: 20px;
    }
}

.barra-de-botoes-menu-principal {
    margin-left: 8px;
    width: 50%;
    float: left;
    margin-top: 5px;
}

    .barra-de-botoes-menu-principal span {
        margin: 0 8px;
        font-size: 18px;
        color: #454545;
        cursor: pointer;
        display: block !important;
        display: inline-block !important;
        float: left;
    }

.barra-de-botoes-menu-modal {
    margin-left: 8px;
    width: 100%;
    float: left;
    margin-top: 5px;
}


.barra-de-posicao-atual {
    position: absolute;
    width: auto;
    float: right;
    margin-top: 3px;
    right: 10px;
}

    .barra-de-posicao-atual a {
        color: #454545;
        font-weight: 600;
        margin: 10px;
    }


.modal-backdrop {
    z-index: 1010!important;
}