@model agilium.webapp.manager.mvc.ViewModels.Cliente.ClienteViewModel


    <div >
    <input type="hidden" asp-for="EnderecoCobranca.Id" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Cep" class="control-label" id="labelCep"></label>
                <input asp-for="EnderecoCobranca.Cep" class="form-control cep cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Cep" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Logradouro" class="control-label" id="labelEndereco"></label>
                    <input asp-for="EnderecoCobranca.Logradouro" class="form-control Logradouro cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Logradouro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Numero" class="control-label" id="labelNumero"></label>
                <input asp-for="EnderecoCobranca.Numero" class="form-control cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Numero" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Complemento" class="control-label" id="labelComplemento"></label>
                <input asp-for="EnderecoCobranca.Complemento" class="form-control cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Complemento" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Bairro" class="control-label" id="labelBairro"></label>
                    <input asp-for="EnderecoCobranca.Bairro" class="form-control Bairro cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Bairro" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Cidade" class="control-label" id="labelCidade"></label>
                <input asp-for="EnderecoCobranca.Cidade" class="form-control Cidade cobranca" />
                    <span asp-validation-for="EnderecoCobranca.Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.Uf" class="control-label" id="labelUf"></label>
                    <select asp-for="EnderecoCobranca.Uf"
                            asp-items="ViewBag.estados"
                        class="form-control Uf cobranca"></select>
                    <span asp-validation-for="EnderecoCobranca.Uf" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-10">
                <div class="form-group">
                    <label asp-for="EnderecoCobranca.PontoReferencia" class="control-label" id="labelPontoRef"></label>
                <input asp-for="EnderecoCobranca.PontoReferencia" class="form-control cobranca" />
                    <span asp-validation-for="EnderecoCobranca.PontoReferencia" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
