@using agilium.api.business.Enums
@model agilum.mvc.web.ViewModels.Contato.ContatoEmpresaViewModel

@{

    var inclusao = ViewBag.operacao == "I";
    var operacao = "Contato Empresa";
    ViewData["Title"] = operacao;
}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="@ViewBag.acao" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="frmCreateContatoEmpresa">
                            <vc:Summary></vc:Summary>
                            <input type="hidden" asp-for="IDCONTATO" />
                            <input type="hidden" asp-for="IDEMPRESA" />
                            <div class="card">
                                <div class="card-header">
                                    @if (inclusao)
                                    {
                                        <h3 class="card-title text-success">Novo Registro</h3>
                                    }
                                    else
                                    {
                                        <h3 class="card-title text-warning">Editar Registro</h3>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label asp-for="Contato.TPCONTATO" class="control-label" id="idtpcontato"></label>
                                            <select asp-for="Contato.TPCONTATO" class="form-control" asp-items="Html.GetEnumSelectList<ETipoContato>()">
                                            </select>
                                            <span asp-validation-for="Contato.TPCONTATO" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Contato.DESCR1" class="control-label" id="labelDescricao"></label>
                                                <input asp-for="Contato.DESCR1" class="form-control" />
                                                <span asp-validation-for="Contato.DESCR1" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Contato.DESCR2" class="control-label" id="labelDescrAux"></label>
                                                <input asp-for="Contato.DESCR2" class="form-control" />
                                                <span asp-validation-for="Contato.DESCR2" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Salvar" class="btn btn-primary" id="btnSendForm" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-header">
 
</div>

