@using Microsoft.AspNetCore.Identity
@using agilum.mvc.web.Data


@inject SignInManager<AppUserAgiliumIdentity> SignInManager
@inject UserManager<AppUserAgiliumIdentity> UserManager


<ul class="navbar-nav">
@*     <li class="nav-item">
        <a class="nav-link" asp-action="ObterListasEmpresasPorUsuario" asp-controller="empresa" data-modal=""  id="idselec">
            <label id="idselec-txt"></label>
        </a>
    
    </li> *@

</ul>

<ul class="navbar-nav ml-auto">
    @if (User != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-user mr-2"></i>
                @* @UserManager.GetUserName(User) *@
                @UserManager.GetUserAsync(User).Result.Nome


            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <div class="dropdown-divider"></div>

                <form id="changePasswordForm" class="form-inline" asp-area="Identity" asp-page="/Account/ChangePassword">
                    <button id="changePassword" type="submit" class="dropdown-item">
                        <i class="fas fa-retweet mr-2"></i> Mudar Senha
                    </button>
                </form>

                <div class="dropdown-divider"></div>

                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt mr-2"></i>Sair
                    </button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }


    <!-- Notifications Dropdown Menu -->

    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button" >
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
      
    </li>

</ul>
<div id="myModal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>


@section Scripts {


    <script>
        SetModal();
    </script>

}

